body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #eee;
    margin: 0;
    padding: 10px;
    direction: rtl;
    box-sizing: border-box;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    overflow-x: auto; /* اضافه شد: فعال کردن اسکرول افقی برای کانتینر در صورت نیاز */
}
h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #ddd;
    font-size: 1.3em;
}
.search-bar {
    margin-bottom: 15px;
    box-sizing: border-box;
}
.search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #eee;
    box-sizing: border-box;
    font-size: 0.9em;
}
.add-button {
    display: block;
    width: fit-content;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    font-size: 0.9em;
}
.add-button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    box-sizing: border-box;
    min-width: 600px; /* حداقل عرض جدول را تعیین کنید */
}
th, td {
    padding: 6px;
    border-bottom: 1px solid #555;
    text-align: right;
    box-sizing: border-box;
    font-size: 0.85em;
}
th {
    background-color: #444;
    color: #ccc;
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: #444;
}
tr:hover {
    background-color: #555;
}
.asset-image {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    box-sizing: border-box;
}
.actions a {
    color: #5cb85c;
    text-decoration: none;
    margin-left: 3px;
    font-size: 0.8em;
    box-sizing: border-box;
}
.actions a:hover {
    text-decoration: underline;
}

/* Media Query برای دستگاه های با عرض حداکثر 600 پیکسل */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        overflow-x: auto; /* فعال کردن اسکرول افقی برای کانتینر در موبایل */
    }
    h1 {
        font-size: 1.7em;
        margin-bottom: 10px;
    }
    .search-bar input[type="text"] {
        font-size: 0.85em;
        padding: 6px;
    }
    .add-button {
        font-size: 0.85em;
        padding: 6px 8px;
        margin-bottom: 10px;
    }
    .table-responsive {
        overflow-x: auto; /* فعال کردن اسکرول افقی برای جدول */
    }
    table {
        min-width: 700px; /* افزایش حداقل عرض برای جلوگیری از شکستگی نامناسب */
    }
    th, td {
        padding: 4px;
        font-size: 1em;
        white-space: nowrap; /* جلوگیری از شکستن خط در سلول ها */
    }
    .asset-image {
        max-width: 25px;
        max-height: 25px;
    }
    .actions a {
        margin-left: 2px;
        font-size: 0.7em;
    }
}
